<HTML>
<HEAD>
<link href="{{ asset('bundles/mariapage/css/style.css') }}" rel="stylesheet" />
<font color="red">
<H1><CENTER>Pagina personala </CENTER></H1>
<H2><CENTER>Popescu Octavia Maria</CENTER></H2>
</font>
</HEAD>
<BODY>
 PLC-urile
 
 <H3>	Consideraþii teoretice
Controloarele logice programabile, denumite în jargonul curent PLC-uri, sunt dispozitive robuste ºi compacte special concepute pentru monitorizarea ºi controlul unor parametri de proces. Cu ajutorul lor pot fi implementate diferite scheme de automatizare de complexitate medie. Iniþial ele au fost concepute pentru implementarea unor funcþii de control binar: functii logice combinationale ºi automate programabile (control secvenþial). Ulterior s-au adãugat funcþii suplimentare de reglaj continuu ºi adaptiv, funcþii de comunicaþie ºi funcþii de vizualizare ºi stocare a datelor culese. Astãzi, prin caracterul lor robust, fiabil ºi autonom, reprezintã cele mai utilizate componente inteligente de automatizare.
Din punct de vedere constructiv un dispozitiv PLC se compune din:
-	microsistem de calcul, de obicei implementat cu ajutorul unui microcontrolor
-	set de interfete digitale ºi analogice, care conþin circuite de adaptare pentru semnale industriale
-	modul de alimentare electricã
-	opþional: interfeþe de comunicaþie serialã (ex: RS232, RS485) ºi în reþea (ex: CAN, Profibus)
-	carcasã de protecþie
In cadrul lucrãrii de faþã, ca ºi exemplu de dispozitiv PLC, se va studia dispozitivul FX3U ºi componentele sale auxiliare, produse de firma MITSUBISHI. In figura 1 se poate observa imaginea acestui dispozitiv, pe care s-au marcat zonele de conectare/cuplare a unor elemente externe sau de extensie.  

</h3>

<font color="white">

<center><img src="{{ asset('bundles/mariapage/images/plc.gif') }}" /></center></BR></BR>

</FONT>
</BODY>
</HTML>
